# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# Banco local no Windows (MySQL instalado diretamente)
DATABASE_URL="mysql://root:@localhost:3306/otaku_stars"
JWT_SECRET=qwertyuiopasdfghjklzxcvbnm123456
FRONTEND_URL=http://localhost:3000


MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USER=bc426ba3c8f23d
MAIL_PASS=ce16fb873fa7d4

# Banco em container Docker (nome padrão do serviço: mysql)
# DATABASE_URL="mysql://root:@localhost:3307/otaku_stars"
#é só exemplo, então fiquem a vontade